In [1]:
!git clone https://github.com/muxspace/facial_expressions.git

Cloning into 'facial_expressions'...
remote: Enumerating objects: 14214, done.
remote: Total 14214 (delta 0), reused 0 (delta 0), pack-reused 14214
Receiving objects: 100% (14214/14214), 239.65 MiB | 24.99 MiB/s, done.
Resolving deltas: 100% (223/223), done.
Checking out files: 100% (13996/13996), done.

In [2]:
!pwd
!ls

/home/ec2-user/SageMaker
Convert to Lowercase.ipynb  facial_expressions	lost+found

In [3]:
import pandas as pd
import os
import shutil

In [4]:
!cd facial_expressions/data
df = pd.read_csv("facial_expressions/data/legend.csv")

In [5]:
df

       user.id                            image    emotion
0          628  facial-expressions_2868588k.jpg      anger
1          628  facial-expressions_2868585k.jpg   surprise
2          628  facial-expressions_2868584k.jpg    disgust
3          628  facial-expressions_2868582k.jpg       fear
4        dwdii           Aaron_Eckhart_0001.jpg    neutral
...        ...                              ...        ...
13685  jhamski            SharmilaTagore_80.jpg  HAPPINESS
13686  jhamski            SharmilaTagore_81.jpg  HAPPINESS
13687  jhamski            SharmilaTagore_82.jpg  HAPPINESS
13688  jhamski            SharmilaTagore_83.jpg  HAPPINESS
13689  jhamski             SharmilaTagore_9.jpg  HAPPINESS

[13690 rows x 3 columns]

In [6]:
df['emotion'] = [df['emotion'][i].lower() for i in df.index]
df

       user.id                            image    emotion
0          628  facial-expressions_2868588k.jpg      anger
1          628  facial-expressions_2868585k.jpg   surprise
2          628  facial-expressions_2868584k.jpg    disgust
3          628  facial-expressions_2868582k.jpg       fear
4        dwdii           Aaron_Eckhart_0001.jpg    neutral
...        ...                              ...        ...
13685  jhamski            SharmilaTagore_80.jpg  happiness
13686  jhamski            SharmilaTagore_81.jpg  happiness
13687  jhamski            SharmilaTagore_82.jpg  happiness
13688  jhamski            SharmilaTagore_83.jpg  happiness
13689  jhamski             SharmilaTagore_9.jpg  happiness

[13690 rows x 3 columns]

In [7]:
df.to_csv("facial_expressions/data/legend.csv")